body, html {
    min-height: 100vh;
}

.title {
    color:white;
}


body {
    background-image: url('images/subtlepatterns/webb.png');
    background-color: aliceblue;
    background-size: 20%;
    background-blend-mode: multiply;
}