<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta content="text/html" http-equiv="Content-Type" />
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Isa Tippens" name="author">
    <meta content="Personal Site" name="description">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href={{ "/assets/css/index.css" | absolute_url }}>
    <link rel="stylesheet" href={{ "/assets/css/custom.css" | absolute_url }}>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src={{ "/assets/js/currentyear.js" | absolute_url }}></script>

</head>

<body>
    <section class="hero is-fullheight is-bold" id="main-section">
        <script>
            let date = new Date();
            let doc = document.getElementById("main-section")
            if (date.getMonth() == 5 && date.getDate() == 1) {
                doc.classList.add("is-light")
            }
            else {
                doc.classList.add("is-dark")
            }
        </script>
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <h1 class="title navbar-item">
                            <span>it</span>
                        </h1>
                        <span class="navbar-burger" data-target="navbarMenuHeroA"
                            onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroB" class="navbar-menu">
                        {% assign nav-item = "navbar-item" %}
                        <div class="navbar-end">
                            <a class="{{ nav-item }}{% if page.title == "Isa Tippens" %} is-active {% endif %}"
                                href="/">
                                Home
                            </a>
                            <a class="{{ nav-item }}{% if page.title == "Projects" %} is-active {% endif %}"
                                href="projects.html">
                                Projects
                            </a>
                            <a class="{{ nav-item }}{% if page.title == "About" %} is-active {% endif %}"
                                href="about.html">
                                About Me
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            {{ content }}
        </div>
        <div class="hero-foot">
            <div class=" content has-text-centered is-fullwidth">
                <p>Isa Tippens &copy; <span id="year"></span> 🐧</p>
            </div>
        </div>
    </section>

</body>

</html>