
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.dot {
    width: 12px;
    height: 12px;
    background-color: cornflowerblue;

    border-radius: 100%;
    display: inline-block;
    animation: anim-float 1.2s infinite;
}

@media (prefers-color-scheme: dark) {
    .dot {
        background-color: orange;
    }
    body{
        background-color: #000
    }
}

.dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.dot:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@keyframes anim-float {

    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}